<div class="row w-50 mx-auto">
    <div class="col-12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <input 
                        type="text" placeholder="Seach Your Pokemon"
                        class="w-100 text-center"
                        #serachTerm (keyup)="search(serachTerm.value)" 
                        
                    >
                    <div class="list-group">
                        <a 
                            (click)="goToDetail(pokemon)"
                            *ngFor="let pokemon of pokemons"
                            class="list-group-item"
                        >
                            {{pokemon.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
