<app-loader *ngIf="!pokemonArray"  class="center"></app-loader>
<h1 class="center" *ngIf="pokemonArray">You're Welcome</h1>
<div class="container" *ngIf="pokemonArray">
    <div class="row">
        <div class="col m4 s6" *ngFor="let pokemon of pokemonArray" (click)="showOnePokemon(pokemon)">
            <div class="card horizontal" pokemonBorderCard="red">
                <div class="card-image">
                    <img src="{{pokemon.picture}}" alt="{{pokemon.name}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p> {{pokemon.name}} </p>
                        <small><p> {{pokemon.created | date:'dd/MM/YYYY'}} </p></small>
                        <span *ngFor="let type of pokemon.types" class="{{type | pokemonTypeColor}}">
                            {{type}}
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="/pokemon/{{pokemon.id}}" class="btn">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
